extends ../layout

block content
    div.row
        .block
            .block-title
                .block-options.pull-right
                h2 Flows Instance

            div
                table#tblView.table.table-bordered.table-striped
                    tbody
                        if data1.length == 0
                            tr  
                                td(colspan="2")
                                    div.text-danger.text-center
                                        | No record found
                        each item in data1
                            tr(data-id="#{item._id}").line-content
                                //- td(style='width:100px;')
                                //-     img(src="#{item.imageUrl==''?'/images/logo.png':item.imageUrl}", style='height: 25px; max-width: 100px; margin-right: 10px;')
                                td   
                                    span #{item.name}
                                td(style='width:200px;text-align:center;')
                                    a(title="View",style="font-size: 15px;margin-left:8px;",role="button",data-toggle="collapse",href="##{item._id}",aria-expanded="false",aria-controls="#{item._id}") 
                                        i.glyphicon.glyphicon-eye-open
                                    //- if session.userdetails.role == 'admin'
                                    a(href='/flowInstance/edit/#{item._id}',title='Edit',style='font-size: 15px;margin-left:8px;') 
                                        i.glyphicon.glyphicon-edit
                                    a(onclick="deleteInstance(this,'#{item._id}')",title='Delete',class="text-danger", style="font-size: 15px; margin-left:8px;")
                                        i.glyphicon.glyphicon-trash
                            tr.panel-collapse.collapse(id="#{item._id}",role="tabpanel",aria-labelledby="headingOne",data-id="#{item._id}")
                                td(colspan='2')
                                    div.col-md-12
                                        if item.template != ''
                                            table.table
                                                tbody
                                                        td!= item.template
                                        else
                                            table.table
                                                thead
                                                    each ent in item.entity
                                                        th #{ent.name}
                                                tbody
                                                    each option in item.data.options
                                                        tr
                                                            each ent in item.entity
                                                                td #{option[ent.name]}
                div
                    ul(style="padding-left: 0px;")#pagin
                        p.pull-right(style="color:#1bbae1") Total=#{data1.length}
        script(src="/js/pagination.js")
        script.
            var deleteInstance = function(self,id) {
                let url = host+'instance/' + id;
                // let url = dbhost + 'flowsInstance/' + id;
                if (confirm("Are you sure you want to delete?") == true) {
                    $(self).progressbarStart();
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function(result) {
                            if (!result.error) {
                                $(self).closest('tr').remove();
                                toastr.info('','DELETE!! Instance Deleted..')
                                $('#pagin>p').text('Total='+(parseInt(($('#pagin>p').text()).replace('Total=',''))-1));
                            }
                        },
                        complete: function () {
                            $(self).progressbarEnd();
                        },
                        error: function() {
                            toastr.error('','Error!!')
                        }
                    });
                }
            }
        